/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}
.image {
  width: 33%;
  height: 130px;
}
.bg-container1 {
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  width: 50%;
  background-color: #ffffff;
}
.image1 {
  width: 4%;
  margin: 6px;
}
.search-bar {
  width: 100%;
  height: 30px;
  border-width: 0px;
}
.search-container {
  display: flex;
  align-items: center;
}
.ul-list {
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  width: 100%;
  background-color: #ffffff;
}
